.box{
    width: 60%;
    margin-left: 20%;
    border: 5px solid black;
    height: 35%;
    text-align: center;
    color: white;
    background-color: #303030;
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.display{
    border: 2px solid black;
    background-color: white;
    width: 35%;
    height: 100%;
    color: black;
}

.info-card{
    border: 2px solid black;
    background-color: white;
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    color: black;
}

.secret_word{
    grid-row: 1;
    text-align: center;
    border-bottom: 2px solid black;
    color: black;
}

.wrong-letters{
    grid-row: 2;
    text-align: center;
    color: black;
}

.swd{
    color: black;
    color: black;
}

.ild{
    color: black;
    
}