.UI{
    margin-top: 2%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 5px solid black;
    height: 30%;
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
    color: white;
    background-color: #303030;
}

.topic-choice{
    padding: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 5px solid white;
}

button{
    width: 20%;
    height: 3em;
    background-color: #87c7fc;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.input-field{
    padding: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#bar{
    height: 3em;
    border: 2px solid black;
    text-align: center;
}